.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.mode-selector-container,
.loader {
  display: flex;
  justify-content: center;
  padding-top: 100px;
}

.header {
  display: flex;
  justify-content: space-between;
}

.button-top {
  margin-top: 15px;
  margin-right: 20px;
  padding: 0;
  width: 20%;
  height: 40px;
}
/*
.form {
  position: absolute;
  z-index: 1;
  padding: 100px 50px 50px;
  width: 100%;
  background-color:rgba(255,255,255,0.95);
}
*/
.form {
  position: absolute;
  top: 10px;
  z-index: 1;
  width: 80vw;
  height: 40vh;
  /* background-color: grey; */
  background-color:rgba(255,255,255,0.95);
  padding: 0;
}

.form-table {
  width: 100%;
  height: 30px;
  margin: 5% 0 0;
  padding: 0 0 0 10px;
  text-align: center;
  /* background-color: blue; */
}

.footer {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.button-reset {

}

#search-button {
  z-index: 0;
}

.add-button {
  margin-top: 10px;
}

.footer {
  padding: 0 3.1% 0 1.7%;
}

.mode-button {
  margin: 10px;
}

.table th, tr {
  min-width: 10vw;
}